div.container {
    width: 100%;
    border: 1px solid #808080;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #000000;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.gallery {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}